$cream: #dad7cd; //main
$darkCream: #cbc5b7;
$veryLightGreen: #a3b18a;
$limeGreen: #a1d447;
$lightGreen: #588157;
$green: #3a5a40;
$darkGreen: #344e41;
$veryDarkGreen: #2d4037;

$redbull: #3671c6;
$astonMartin: #358c75;
$ferrari: #f91536;
$mercedes: #6cd3bf;
$alfaRomeo: #c92d4b;
$alfaTauri: #2293d1;
$williams: #37bedd;
$mcLaren: #f58020;
$hass: #b6aabd;
$alpine: #2293d1;
