@import 'colors';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #ffffff;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
}

header {
	display: flex;
	justify-content: flex-start;
	padding: 30px 10px;
	background-color: rgb(119, 119, 119);

	img {
		height: 100%;
		cursor: pointer;
	}

	.desktop__nav {
		display: none;
		flex-direction: column;
		justify-content: space-around;
	}
}

.nav__links {
	list-style: none;

	li {
		display: inline-block;
		padding: 0 20px;
		font-size: 20px;

		a {
			transition: all 0.3s ease 0s;
			text-decoration: none;
			color: #fff;

			&:hover {
				color: rgb(255, 0, 0);
			}
		}
	}
}

.mobile__nav {
	position: fixed;
	width: 100vw;

	padding: 20px 10px;
	display: flex;
	justify-content: center;
	overflow: hidden;
	z-index: 999;
	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 20px;

		li {
			font-size: 34px;
			padding: 10px 0;
		}
	}
	transform: translateX(200%);
	transition: transform 0.6s ease-out;
}
.mobile-nav-active {
	transform: translateX(0%);
	background: rgba(148, 0, 0, 0.822);
}
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 15px;

	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1001;

	&:hover .burger-btn__bars::after,
	&:hover .burger-btn__bars::before {
		width: 100%;
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars {
		height: 3px;
		background-color: #fff;

		&::after {
			position: absolute;
			content: '';
			right: 0;
			top: 13px;
			height: 3px;
			width: 60%;
			background-color: #fff;
			transition: width 0.3s;
		}

		&::before {
			position: absolute;
			content: '';
			top: 27px;
			width: 30%;
			right: 0;
			height: 3px;
			background-color: #fff;
			transition: width 0.3s;
		}
	}
}

.driver {

	display: flex;
	flex-direction: column;
	align-items: center;

	&__card {
		padding: 10px;
		&__photo {
			img {
				max-width: 500px;
				width: 100%;
				border-radius: 10px;
			}
		}
		&__title {
			padding: 15px;
			.driver__card__number {
				font-size: 20px;
				margin-bottom: 5px;
				display: flex;
				align-items: center;
				.flag {
					margin-left: 10px;
					height: 20%;
					img {
						border-radius: 5px;
						width: 30px;
						height: 21px;
					}
				}
			}
			h1 {
				font-size: 26px;
			}
		}
	}
	button {
		padding: 20px 10px;
		border-radius: 10px;
		margin-bottom: 20px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		border: none;
		transition: 0.5s;
		a {
			text-decoration: none;
			color: black;
			background: none;
			padding: 20px 10px;
			font-size: 14px;
			transition: 0.5s;
		}
	}
	button:hover {
		background-color: red;
		a {
			color: white;
		}
	}
	.line {
		height: 2px;
		width: 85%;
		background-color: black;
	}
}
.stats {
	width: 100%;
	padding: 25px;
	&__list {
		width: 100%;
		justify-content: space-around;
		font-size: 15px;
		line-height: 170%;

		tr {
			display: flex;
			justify-content: space-between;
		}
		td {
			margin-right: 20px;
			text-align: left;
		}
	}
}
.biography {
	width: 100%;
	padding: 25px;
	p {
		margin-bottom: 15px;
		line-height: 135%;
	}
	h1 {
		margin-bottom: 20px;
	}
}

@media (min-width: 1280px) {
	.driver {
		margin-top: 15px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		&__card {
			width: 50%;

			&__title{
				h1{
					font-size: 32px;
				}
			}
		}
		.line {
			width: 0;
		}
		.stats {
			width: 40%;

			&__list {
				font-size: 18px;
				line-height: 300%;
			}
		}

		.biography_1280{
			width: 80%;
			height: 2px;
			background-color: black;
		}
	}
}
